body {
  background-color: powderblue;
}

.wrapper {
	border: solid;
	border-width: 5px;
	border-color: green;
	border-radius: 8px;
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 1em;
	column-gap: 2em;
}

.wrapperElement {
	row-gap: 1em;
	border: solid;
	border-width: 3px;
	border-color: blue;
}

.restresponse {
	border: solid;
	border-width: 5px;;
	border-color: red;
	padding-top: 1em;
	padding-bottom: 1em;
}

.grandchild {
	border-color: voilet;
	border-width: 2px;
	border-radius: 10px;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.foodselectionrest {
	border: solid;
	border-color: black;
	border-width: 10px;
	border-radius: 10px;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 2em;
}

.commandclass {
	border: solid;
	border-color: green;
	border-width: 4px;
	border-radius: 10px;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 2em;
}